{% extends "base.html" %}
{%load static%}
{% block title %}Admin{% endblock %}
{% block content %}
    <main>
        <article>
        <h1>Admin</h1>
        <ul>{% for item in tournaments %}
            <li>
                {{item.name}}
                <a href="{%url 'edit_tournament' tournament_id=item.id%}">Edit Tournament</a>
                <a href="{%url 'delete_tournament' tournament_id=item.id%}">Delete Tournament</a>
            </li>
             {% endfor %}
            <a href="{%url 'create_tournament'%}">Create Tournament</a>
        </ul>
        </article>
    </main>
{% endblock %}