{% extends "base.html" %}
{%load static%}
{% block title %}Create Tournament{% endblock %}
{% block content %}
    <main>
        <article>
        <h1>Create Tournament</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input name="status" type="hidden" value="new">
                <input name="name" type="text" placeholder="Input tournament name">
                <input name="loops" type="text" placeholder="Input loops value">
                <select name="tournament_type" id="">
                    <option value="cup">Cup</option>
                    <option value="leage">Leage</option>
                </select>
                <input type="submit" value="create">
            </form>
        </article>
    </main>
{% endblock %}