{% extends "base.html" %}
{%load static%}
{% block title %}Cups{% endblock %}
{% block content %}    
        <main>
        {% for item in tournament %}
        <article>
            <a href="{%url 'tournament' tournament_id=item.id%}">
                <h1>{{item.name}}</h1>
            </a>
            <h2>Last {{item.name}} Tour</h2>
                <ul>{%for match in matches%}
                    {%if match.tournament_id == item.id%}
                    <li><a href="{%url 'match' match_id=match.id%}">{{match.home}}  {{match.score}} {{match.guest}}</a></li>
                    {%endif%}
                    {%endfor%}
                </ul>
        </article>
        {% endfor %}
    </main>
{% endblock %}