{% extends "base.html" %}
{%load static%}
{% block title %}Cups{% endblock %}
{% block content %}    
        <main>
        <h1>Cups</h1>
                <a href="Cup.html">
                    <section>
                        <h3>Cup 1</h3>
                        <p>Teams quantity, status</p>
                        <p>Closest matches</p>
                        <ul>
                            <li>Match 1</li>
                            <li>Match 2</li>
                        </ul>
                    </section>
                </a>
                <a href="Cup.html">
                    <section>
                        <h3>Cup 1</h3>
                        <p>Teams quantity, status</p>
                        <p>Closest matches</p>
                        <ul>
                            <li>Match 1</li>
                            <li>Match 2</li>
                        </ul>
                    </section>
                </a>
        </main>
{% endblock %}