{% extends "base.html" %}
{% load static %}
{% block title %}Create Tournament{% endblock %}
{% block content %}
    <main>
        <article>

            <h1>Tournament {{name}} generate schedule</h1>
            <h1>Schedule</h1>
                <ul>
                    {% for item in matches %}
                    <li>
                        {{item.home}} {{item.score}} {{item.guest}}
                    </li>
                    {% endfor %}
                </ul>
        </article>
    </main>
{% endblock %}