{% extends "base.html" %}
{%load static%}
{% block title %}Index{% endblock %}
{% block content %}
        <main>
            {% for item in tournaments%}
            <article>
                <h1><a href="{%url 'tournament' tournament_id=item.id%}">{{item.name}}</a></h1>
                <h2>Last {{item.name}} Tour</h2>
                <ul>{%for match in matches%}
                    {%if match.tournament_id == item.id%}
                    <li><a href="{%url 'match' match_id=match.id%}">{{match.home}}  {{match.score}} {{match.guest}}</a></li>
                    {%endif%}
                    {%endfor%}
                </ul>
            </article>
            {% endfor %}
        </main>
{% endblock %}