{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournaments</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
<header>
    <ul>
        <li><a href="{%url 'leage'%}">Leages</a></li>
        <li><a href="cups.html">Cups</a></li>
        <li><a href="teams.html">Teams</a></li>
        <li><a href="players.html">Players</a></li>
    </ul>
</header>
<main>
    <article>
        <h3><a href="leage1.html">Tournament1 name</a></h3>
        <h4>Last Tournament1 Tour</h4>
        <ul>
            <li><a href="match.html">Match 1</a></li>
            <li>Match 2</li>
            <li>Match 3</li>
            <li>Match 4</li>
        </ul>
    </article>
    <article>
        <h3>Tournament2 name</h3>
        <h4>Last Tournament1 Tour</h4>
        <ul>
            <li>Match 1</li>
            <li>Match 2</li>
            <li>Match 3</li>
            <li>Match 4</li>
        </ul>
    </article>
    <article>
        <h3>Tournament3 name</h3>
        <h4>Last Tournament1 Tour</h4>
        <ul>
            <li>Match 1</li>
            <li>Match 2</li>
            <li>Match 3</li>
            <li>Match 4</li>
        </ul>
    </article>    
</main>
<footer>
    <p>Footer information</p>
</footer>
</body>
</html>