{% extends "base.html" %}
{%load static%}
{% block title %}Leages{% endblock %}
{% block content %}
    <main>
    <h1>Leages</h1>
        <a href="Leage1.html">
            <section>
                <h3>Leage name 1</h3>
                <p>Teams quantity, status</p>
                <div>
                    <div>
                        <div>Rank</div>
                        <div>Name</div>
                        <div>Matches</div>
                        <div>Points</div>
                    </div>
                    <div>
                        <div>1</div>
                        <div>Real</div>
                        <div>10</div>
                        <div>30</div>
                    </div>
                    <div>
                        <div>2</div>
                        <div>Barca</div>
                        <div>10</div>
                        <div>27</div>
                    </div>
                </div>
            </section>
        </a>
        <a href="#">
            <section>
                <h3>Leage name 1</h3>
                <p>Teams quantity, status</p>
                <div>
                    <div>
                        <div>Rank</div>
                        <div>Name</div>
                        <div>Matches</div>
                        <div>Points</div>
                    </div>
                    <div>
                        <div>1</div>
                        <div>Real</div>
                        <div>10</div>
                        <div>30</div>
                    </div>
                    <div>
                        <div>2</div>
                        <div>Barca</div>
                        <div>10</div>
                        <div>27</div>
                    </div>
                </div>
            </section>
        </a>
    </main>
{% endblock %}